{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins" : [
    "flowtype",
    "react-intl",
    "redux-saga"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__TEST__"     : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__BASENAME__" : false,
    "__VERSION__"  : false,
    "__STAGE__"    : false,
    "__API_URL__"  : false
  },
  "rules": {
    "semi" : [2, "never"],
    "space-infix-ops": 0,
    "max-len": [2, 120, 2],
    "flowtype/boolean-style": [
      2,
      "boolean"
    ],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [
      2,
      "never"
    ],
    "flowtype/generic-spacing": [
      2,
      "never"
    ],
//    "flowtype/no-weak-types": 2,
//    "flowtype/require-parameter-type": 2,
//    "flowtype/require-return-type": [
//      2,
//      "always",
//      {
//        "annotateUndefined": "never"
//      }
//    ],
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/semi": [
      2,
      "never"
    ],
    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/space-before-generic-bracket": [
      2,
      "never"
    ],
    "flowtype/space-before-type-colon": [
      2,
      "never"
    ],
    "flowtype/type-id-match": [
      2,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/union-intersection-spacing": [
      2,
      "always"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "react-intl/string-is-marked-for-translation": 1,
    "redux-saga/no-yield-in-race": 2,
    "redux-saga/yield-effects": 2,
    "redux-saga/no-unhandled-errors": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
